.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear; /* Always animate for better user experience */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s ease-in-out;
}

.App-link:hover {
  color: #007bff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}